.bodytac {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  height: 100vh;
  background: #131416;
}

.joueur1 {
  color: #2cceff;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  width: 300px;
  position: absolute;
  top: 400px;
  left: -50px;
}

.joueur2 {
  color: #d737ff;
  text-align: center;
  font-family: "Play", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  width: 300px;
  position: absolute;
  top: 400px;
  right: -50px;
}

/* Button new-game */

.new-game {
  border: 2px solid #9429ec;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #2cceff;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px 25px;
  position: relative;
  top: 100px;
  left: 262px;
  transition: all 1s ease-in-out;
  text-align: center;
  animation: anim1 5s infinite;
}

.new-game:hover {
  background-color: #9914d6;
  color: #2cceff;
  transform: rotate(360deg);
  font-size: 1.6rem;
}

.h1tac {
  padding-left: 15px;
  text-align: center;
  padding-bottom: 15px;
  color: #ddd9d9;
  text-shadow: 0.4rem 0.3rem 0.7rem #9914d6;
}

.h2tac {
  text-align: center;
}

.h3tac {
  text-align: center;
}

.containertac {
  max-width: 710px;
  max-height: 800px;
  margin: 20px auto;
  /* Modified to auto */
  background: #131415;
  position: relative;
}

.containertac::before,
.containertac::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: linear-gradient(
    45deg,
    #9429ec,
    #2cceff,
    #9914d6,
    #2cceff,
    #9429ec,
    #2cceff,
    #d737ff,
    #2cceff
  );
  width: 100%;
  height: 100%;
  background-size: 500%;
  z-index: -1;
  transform: scale(1.02);
}

.containertac::after {
  filter: blur(30px);
  animation: animate 20s infinite;
}

.table-style {
  /* outer table styles */
  width: 300px;
  height: 300px;
  border: 8px solid #9914d6;
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  border: 5px solid #9914d6;
  text-align: center;
  font-size: 2rem;
  color: azure;
  cursor: pointer;
}

.resultMessage {
  position: relative;
  bottom: 370px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  text-align: center;
  animation: result 3s ease-in-out forwards;
  border-radius: 5px;
  padding-top: 10px;
  font-size: 1.8rem;
}

@keyframes result {
  50% {
    color: #2cceff;
    transform: translateY(100px) rotate(360deg);
    font-size: 2rem;
  }
  100% {
    color: #9429ec;
    transform: translateY(320px);
  }
}

@keyframes anim1 {
  25% {
    background-color: #9429ec;
    color: #2cceff;
  }
  50% {
    background-color: #2cceff;
    color: #9429ec;
  }
  75% {
    background-color: #9429ec;
    color: #2cceff;
  }
  100% {
    background-color: #2cceff;
    color: #9429ec;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
