:root {
  --color-win: #78cf82;
  --color-lose: #d94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #d2d2d2;
  --color-keys: #37474f;
  --color-keys-light: #e5e5e5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all 0.2s ease-in-out;
}

ul {
  list-style: none;
}

.hearticon {
  max-width: 30px;
  max-height: 30px;
}

.backdrop {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 10;
  background: rgba(0, 0, 0);
}
.startmodule {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
.title {
  color: white;
}

.digitialkey {
  margin: 6px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.digitialkey:hover {
  background-color: var(--color-keys);
  color: var(--color-neutral-light);
}

.keyrow {
  display: flex;
  justify-content: center;
}

.hiddenColor {
  margin: 2px;
  text-align: center;
  color: black;
  min-width: 45px;
  min-height: 35px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.showTrueColors {
  text-align: center;
  color: #37474f;
  min-width: 45px;
  min-height: 35px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
