.matchCardBorder {
  margin: 2px;
  padding: 2px;
}
.matchCardFront {
  color: blue;
  width: 200px;
  height: 200px;
}
.matchCardBack {
  color: white;
  background-color: brown;
  width: 200px;
  height: 200px;
}
